

/* master style */

*
{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
.container
{
     display: grid;
     grid-template-columns: 1fr;
     margin: 2em;
}

/* nav bar - left side*/

.header
{
     display: flex;
     justify-content: space-between;
     padding: 38px;
}
.menu
{
     display: flex;   
}
.menu > ul
{
     margin-right: 20px;
     font-size: 0.9em;
     text-transform: uppercase;
     list-style: none;
     display: flex;
}

.menu > ul li
{
     list-style: none;
     padding: 10px;
     margin: 2px;
     font-size: large;
     list-style-type: none;
}
.menu ul li:hover
{
     background-color: aqua;
     opacity: 0.8;
     border-bottom: 1px solid black;
}
.menu ul li a
{
     color: thistle;
     text-decoration: none;
     transition: color 0.5s;
     font-size: 25px;
}

/* header right side */

.right-side
{
     margin-left: 20px;
     margin-top: 25px;
     font-size: 0.9em;
     text-transform: uppercase; 
     /* font-family: cursive; */
     font-size: 20px; 
     color:rgb(209, 6, 67);
}

/*Page1 Home*/


.home-content
{
     background-image: url(../images/bgimage.jpeg);
     grid-row-start: 2;
     grid-row-end: 3;
     grid-column-start: 1;
     grid-column-end: 3;
     padding: 5em;
     background-repeat: no-repeat;
     background-size: 100% 100%;
     /* border: 1px solid rgba(red, green, blue, alpha); */
     height: 1335px;
     margin: 5em;
     font-family: cursive;

}
.home-content p
{
     color: blue;
     font-size: larger;
}
.home-content audio
{
     margin-top: 34em;
     margin-left: 72em;
     background-color: silver;
}
.home-content img
{
     height: 303px;
     width: 790px;
}


/* page2 About me */

.aboutme-content
{
     background-image: url(../images/aboutme1.jpeg);
     grid-row-start: 2;
     grid-row-end: 3;
     grid-column-start: 1;
     grid-column-end: 3;
     padding: 1em;
     background-repeat: no-repeat;
     background-size: 100% 100%;
     border: 1px solid rgba(red, green, blue, alpha);
     height: 1335px;
     margin: 5em;
     font-family: cursive;
}
.aboutme-content h2
{
     color: mediumspringgreen;
}
.aboutme-content p
{
     color:rgb(0, 0, 0);
     font-size: larger;
}

/* page3 Contact */

.contact-content
{
     background-image: url(../images/contact.jpeg);
     margin-left: 200px;
     grid-row-start: 2;
     grid-row-end: 3;
     grid-column-start: 1;
     grid-column-end: 3;
     padding: 1em;
     background-repeat: no-repeat;
     background-size: 100% 100%;
     border: 1px solid rgba(red, green, blue, alpha);
     height: 1335px;
     margin: 5em;
}

.contactInfo
{
     padding-top: 40px;
     font-size: 30px;
}
.title
{
    color:rgb(62, 68, 88);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-left: 1em;
    font-size: 50px;
}
.contactInfo ul
{
     position: relative;
}
.contactInfo ul li
{
     position: relative;
     list-style: none; 
     margin: 15px 0;
     cursor: pointer;
}
.contactInfo ul li .icon
{
     display: inline-block;
     width: 30px;
     font-size: 30px;
     color: #03a9f4;
     margin-left: 2em;
}
.contactInfo ul li span
{
     color:rgb(9, 3, 31);
     font-weight: 300;
}

.contact-content h2
{
     color: slateblue;
     font-size: 50px;
     margin-left: 1em;
     text-transform: uppercase;
}
.contact-content p
{
     color: rgb(7, 148, 71);
     font-size: 30px;
     margin-left: 1em;
     letter-spacing: 1px;
}
.contact-content
{
     color: blue;
}
.contact-content input
{
     width: 170px;
     height: 30px;
}


/* page4 hobbies */

body
{
     background-color: #f1f1f1;
     padding: 20px;
     font-family: arial;
}
.hobby-container
{
     max-width: 1000px;
     margin: auto;
}
h1
{
     font-size: 45px;
     word-break: break-all;
     color:skyblue;
}
 .hobby-container .csa
{
     color:slateblue;
     font-size: x-large;
}
.album-row
{
     margin: 8px -16px;
}
.album-row, .album-row > .album-column
{
     padding: 8px;
}
.album-column
{
    float: left;
    width: 25%; 
}
.album-row::after
{
     content: "";
     display: table;
     clear: both;
}
.content
{
     background-color: white;
     padding: 10px;
}
@media screen and (max-width: 900px) 
{
     .album-column 
     {
          width: 50%;
     }
}
/* @media screen and (max-width: 600px) 
{
     .album-column 
     {
       width: 100%;
     }
} */

.album-column .content img
{
     height: 230px;
     width: 50px;
}